.info {
    margin-bottom: 100px;
}

.info-title {
    margin-bottom: 32px;
    color: rgb(255, 255, 255);
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
}

.info-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px 0;
}

.info-item {
    padding: 60px 0 0 60px;
    box-sizing: border-box;
    border: 1px solid rgb(56, 55, 55);
    border-radius: 32px;
    background: rgb(24, 24, 24);
}

.info-wrap {
    display: flex;
    align-items: start;
    gap: 0 4px;

    .info1 {
        margin-bottom: 16.48px;
    }

    .info-list-title {
        width: 503px;
        margin-bottom: 16px;
        color: rgb(255, 255, 255);
        font-family: 'Inter';
        font-size: 32px;
        font-weight: 800;
        line-height: 39px;
        letter-spacing: 0%;
        text-align: left;
    }

    .info-list-text {
        margin-bottom: 200px;
        color: rgb(128, 128, 128);
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: left;
    }

    .info-list-btn {
        display: flex;
        align-items: center;
        gap: 0 8px;
        background: none;
        border: none;
        color: rgb(255, 255, 255);
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
    }

}